<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.LunchGo.restaurant.mapper.RestaurantSearchMapper">

    <select id="findAvailableRestaurantIds" parameterType="com.example.LunchGo.restaurant.dto.RestaurantSearchParameter" resultType="long">
        SELECT DISTINCT r.restaurant_id
        FROM restaurants r
        -- 지정한 날짜, 시간대, 식당ID로 생성된 예약 슬롯들을 확인(없으면 null)
        LEFT JOIN restaurant_reservation_slots s
            ON r.restaurant_id = s.restaurant_id
            <choose>
                <when test="date != null">
                    AND s.slot_date = #{date}
                </when>
                <otherwise>
                    AND s.slot_date BETWEEN date_add(curdate(), interval -7 day) and date_add(curdate(), interval 7 day)
                </otherwise>
            </choose>
            <choose>
                <when test="time != null">
                    AND s.slot_time = #{time} AND s.slot_time BETWEEN r.open_time and r.close_time
                </when>
                <otherwise>
                    AND s.slot_time IN ('11:00:00', '12:00:00', '13:00:00', '14:00:00')
                </otherwise>
            </choose>
        LEFT JOIN (
            -- 지정한 날짜, 시간대에 특정 식당을 예약한 인원수 총합 계산
            SELECT slot_id, COALESCE(SUM(party_size), 0) as total_party_size
            FROM reservations
            WHERE status IN ('TEMPORARY', 'CONFIRMED', 'PREPAID_CONFIRM')
            GROUP BY slot_id
        ) res ON s.slot_id = res.slot_id
        <where>
            r.status = 'OPENED'
            AND (
                -- Case 1: 특정 식당에 관한 예약 슬롯이 추가된 적이 없음
                s.slot_id IS NULL
                OR
                -- Case 2: 예약 슬롯이 존재하지만 잔여석이 충분함
                s.max_capacity >= (IFNULL(res.total_party_size, 0) + #{partySize})
            )
            <!-- 검색 기능 확장 시 여기에 <if> 태그를 사용하여 추가 검색 조건을 작성하세요. -->
        </where>
    </select>

</mapper>